@media screen and (max-width: 1200px) {
    .menu-section {
        padding: 30px 40px;
        margin: 85px 15px 80px 15px;
    }

    .menu-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-item img {
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 15px 20px;
        gap: 15px;
    }

    .navlistitems {
        flex-direction: row;
        gap: 10px;
        text-align: center;
    }
    .menu-section {
        padding: 20px;
        margin: 85px 10px 60px 10px;
    }

    .filter-buttons {
        gap: 10px;
        margin: 30px 0;
    }

    .filter-btn {
        padding: 10px 25px;
        font-size: 14px;
    }

    .menu-grid {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(2, 1fr); */
        gap: 15px;
    }

    .menu-item img {
        width: 100%;
        height: 300px;
    }
}