@media screen and (max-width: 1200px) {
    .l-contact {
        padding: 30px 40px;
        margin: 85px 15px 80px 15px;
        gap: 30px;
    }

    .maps iframe {
        width: 500px;
        height: 350px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 15px 20px;
        gap: 15px;
    }

    .navlistitems {
        flex-direction: row;
        gap: 10px;
        text-align: center;
    }
    .menu-section {
        padding: 20px;
        margin: 85px 10px 60px 10px;
    }
    .l-contact {
        flex-direction: column;
        padding: 20px;
        margin: 85px 10px 60px 10px;
        gap: 20px;
    }

    .contact-formulaire {
        width: 100%;
    }

    .maps iframe {
        width: 100%;
        height: 300px;
    }
}