
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F9F9F9;
}

html {
    scroll-behavior: smooth;
}

.l-header {
    background: white;
    position: fixed;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.highlight {
    color: #3CE772;
}

.navlistitems {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navlistitems a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navlistitems a:hover {
    color: #3CE772;
}

.l-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    border-radius: 10px;
    max-width: 1500px;
    gap: 40px;
    margin: 85px 20px 101px 20px;
    background-color: #fff;
}

.contact-formulaire {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    border: 2px solid #2ecc71;
    border-radius: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 0px 0;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 0px 0;

}

.name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 0px 0;
}

.maps iframe {
    border: 2px solid #2ecc71;
    border-radius: 10px;
    width: 600px;
    height: 400px;
}

.l-footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    margin-top: 40px;
}