
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F9F9F9;
}

html {
    scroll-behavior: smooth;
}

.l-header {
    background: white;
    position: fixed;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.highlight {
    color: #3CE772;
}

.navlistitems {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navlistitems a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navlistitems a:hover {
    color: #3CE772;
}

.gallery-section {
    display: block;
    justify-content: space-between;
    padding: 40px 80px;
    background-color: #fff;
    border-radius: 10px;
    margin: 85px 20px 100px 20px;
    max-width: 1500px;
    height: 700px;
}

.h2-gallery {
    text-align: center;
    margin-bottom: 30px;         
}

.h2-gallery h2 {
    font-size: 2rem;
    color: #2C3E50;
    display: inline-block;
    padding-bottom: 5px;
}

.gallery { 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;                              
    justify-items: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #2ecc71;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

.l-footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    margin-top: 40px;
}